<h1>Create A mail</h1>
<h2>
  Your mails will saved in your account and you can use them later for send
  mails to them
</h2>
<a class="backButton" href="/mails/all">Back</a>
<hr />

<div class="formWrapper">
  <form id="mailsCreate" action="/api/mails" method="POST">
    <div class="formError"></div>
    <div class="inputWrapper">
      <div class="inputLabel">Email</div>
      <input type="text" name="mail" placeholder="something@service.com" />
    </div>
    </div>

    <div class="inputWrapper ctaWrapper">
      <button type="submit" class="cta green">Create mail</button>
    </div>
  </form>
</div>
